html, body{
  font-family: 'Segoe UI';
}
h6, h5, h4, h3, h2, h1, p, span, label{
  font-family: 'Segoe UI';
}
.logo{
  height: 40px !important;
  width: 120px !important;
}
@media screen and (max-width: 1024px) {
    .mdl-layout__header {
      display: inline-block; }
    }

 .its-more-button{
  color: black;
 }
 .its-menu{
  right: 0;
  top: 0;
 }   
.mdl-layout__header-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  box-sizing: border-box;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  margin: 0;
  padding: 0 40px 0 30px; }
  .mdl-layout--no-drawer-button .mdl-layout__header-row {
    padding-left: 40px; }
.mdl-layout__drawer-button {
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  border: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 56px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 8px 12px;
  top: 0;
  right: 0;
  color: rgb(128,128,128);
  z-index: 4; }
  .mdl-layout__header .mdl-layout__drawer-button {
    position: absolute;
    color: rgb(128,128,128);
    background-color: inherit; }
    .mdl-layout__drawer {
  background: rgb(77, 184, 77);
  -webkit-transform: translateX(750px);
          transform: translateX(750px);
        }
  .mdl-layout__drawer.is-visible {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            position: fixed; }
    .mdl-layout__drawer.is-visible ~ .mdl-layout__content.mdl-layout__content {
      overflow: hidden; }
  .mdl-layout__drawer > * {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .mdl-layout__drawer > .mdl-layout__title,
  .mdl-layout__drawer > .mdl-layout-title {
    line-height: 64px;
    padding-left: 40px; }

    .mdl-layout__obfuscator {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  visibility: hidden;
  transition-property: background-color;
  transition-duration: 1.0s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .mdl-layout__obfuscator.is-visible {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible; }
  @supports (pointer-events: auto) {
    .mdl-layout__obfuscator {
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition-property: opacity;
      visibility: visible;
      pointer-events: none; }
      .mdl-layout__obfuscator.is-visible {
        pointer-events: auto;
        opacity: 1;
        position: fixed; 
        } }
.mdl-button{
  line-height: 45px;
}
.its-head{
  margin: 180px 300px 10px 300px ;
  color: rgb(77, 184, 77);
}
.its-head h4{
 font-size: 25px;
 margin-bottom: 40px;
}
.its-head p{
  font-size: 18px;
  color: grey;
  margin-bottom: 40px;
}
.its-head a{
  margin-top: 40px;
}
.its-head1:hover{
  width: 180px;
  font-size: 16px;
  transition-duration: 0.8s;
}
.its-head:hover a i{
  font-size: 28px;
}
.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 1000; }
.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 40spx; }
.fixed-action-btn ul li {
      margin-bottom: 15px;
      list-style-type: none; 
}

.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}
.btn-large {
  height: 54px;
  line-height: 56px; }
.btn-large i {
    font-size: 1.6rem; }
.green{
  background-color: rgb(77, 184, 77);
}
.test-container{
  margin-top: 65px;
  width: 100%;
}
.test-content{
  margin-top: 70px; padding: 20px;
}
.test-content a{
  color: #8a8486;
}
.test-content a i{
  font-size: 32px;
}
.test-content1{
  width: 90%;
  min-height: 400px;
}
.test-content1 img{
  position: relative;
  left: 130px;
  height: 350px;
  width: 250px;
}
.ques-content{
  padding: 0px;
}
.ques-content h4{
  color: rgb(77, 184, 77);
  margin-left: 50px;
  font-size: 20px;
}
.ques-content ul li{
  list-style-type: none;
  height: auto;
  line-height: 75px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}
.ques-content ul li:nth-child(1){
  /*border-bottom: 1px solid grey;*/
  border-radius: 5px;
}
.ques-content ul li:nth-child(2){
 /* border-bottom: 1px solid grey;*/
  border-radius: 5px;
}
.seven-ans{
  position: relative;
    left: 55px;
    bottom: 44px;
}
.seven-ans p{
  margin: 0px;
  font-size: 16px;
}
.seven-opt{
  position: relative;
    top: 50px;
}
.opt-size{
  height: 50px;
  width: 50px;
  background-color: rgba(158,158,158,.4);
  color: rgb(77, 184, 77);
  border-radius: 50%;
  padding: 12px 15px;
  margin-right: 15px;
}
.ques-content ul li:hover{
  border-bottom: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(77, 184, 77);
  color: white; 
  box-shadow: 0 2px 2px rgba(0,0,0,0);
  transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
    transition-property: background-color,box-shadow,color;
}
.ques-content ul li:hover .opt-size{
  background-color: white;
  color: black;
}
.form-container{
  width: 30%;
  min-height: 440px;
}
.form-content{
  text-align: center;
  /*background-color: rgba(72,72,72,0.4);*/
  min-height: 475px;
  border-radius: 5px;
  /*border: 3px solid #4db84d;*/
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
.form-content h4{
  color: rgb(77, 184, 77);
}
.form-content .mdl-textfield__input{
  border-bottom: 1px solid 
    rgba(0, 0, 0, 0.64);
}
.form-content .mdl-textfield__label{
  color: rgba(0, 0, 0, 0.64);
}
.form-button{
  border-radius: 5px;
  background-color: rgb(77, 184, 77);
  color: white;
  height: 40px;
  width: 105px;
  line-height: 40px;
}
.form-button:hover{
  background-color: rgb(77, 184, 77);
  color: white;
}
.faq-tab{
  width: 100%;
  font-family: 'fira sans'; 
}
.faq-tab ul li{
  list-style-type: none;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
}
.faq-tab ul li p{
  font-size: 17px;
}
.progress-bar{
  position: relative;
  top: 20px;
}
.progress-tab{
  background-color: rgb(77, 184, 77);
  color: white;
  border-radius: 50%;
  padding: 8px 12px;
  margin-left: 10px;
  margin-right: 10px;
}
.progress-tab-disable{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px 12px;
  margin-left: 10px;
  margin-right: 10px;
}
.span-opt{
  font-size: 16px;
}
.contact-pos{
  position: relative;left: 440px;
}
.contact-form{
  width: 475px;
}
.couns-section{
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 48px;
    padding: 0;
    margin: 0;
    color: #4db84d;
}
.couns-section h3{
  line-height: 0px;
  font-family: 'Segoe';
}
.portfolio-max-width {
    max-width: 900px;
    margin: auto;
}
.article-image{
  width: 100%;
  height: auto;
}
.padding-top {
    padding: 10px 0 0;
}
.no-left-padding {
    padding-left: 0;
}
  .contact-page{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 48px;
    padding: 0;
    margin: 0;
    color: #4db84d;
  }
.contact-page h3{
  line-height: 0px;
  font-family: 'Segoe';
}
.contact-label{
  color: rgba(0,0,0,.46);
}
.seven{
    height: 480px !important;
    width: 350px !important;
}
.about-section{
  min-height: 490px; 
}
.sub-form{
  width: 200px;
  height: 31px;
  border-radius: 5px;
}
.footer p{
  margin: 0 0 0px;
}
.subs-button{
  position: absolute;
    bottom: 20px;
    right: -120px;
    background-color: rgb(101, 103, 101);
}
/*Responsive css start from here*/


@media screen and (max-width: 1024px){
  .its-head {
    margin: 150px 150px 10px 150px;
  }
  .its-head a {
    margin-top: 10px;
  }
  .test-content1 img {
    height: 380px;
    width: 280px;
}
.form-container {
    width: 40%;
}
.faq-tab ul li {
    margin-left: 150px;
    margin-right: 150px;
}
}
@media screen and (max-width: 768px){
  .its-head {
    margin: 150px 80px 10px 80px;
  }
  .its-head h4 {
    font-size: 22px;
    margin-bottom: 30px;
}
  .its-head a {
    margin-top: -10px;
  }
  .faq-tab ul li {
     margin-left: 10px; 
     margin-right: 10px; 
}
.test-content1 img {
    left: 30px;
    height: 305px;
    width: 320px;
}
.ques-content ul li {
    line-height: 40px;
    padding-left: 0px;
}
.form-container {
    width: 50%;
}
.seven-ans p {
    font-size: 15px;
}
.progress-bar {
    position: relative;
    top: 0px;
}
}
@media screen and (max-width: 700px){
  .its-head h4{
    font-size: 21px;
  }
  .ques-content h4 {
    font-size: 19px;
    margin-left: 35px;
}
}
@media screen and (max-width: 656px){
  .its-head h4 {
    font-size: 19px;
  }
  .test-content1 img {
    left: 0px;
}
.ques-content h4 {
    margin-left: 24px;
    font-size: 19px;
}
.form-container {
    width: 60%;
}
}
@media screen and (max-width: 600px){
  .its-head h4 {
    font-size: 19px;
    margin-bottom: 17px;
  }
  .its-head p {
    font-size: 15px;
  }
  .ques-content h4 {
    margin-left: 10px;
    font-size: 18px;
}
.test-content1 img {
    left: 0px;
}
.span-opt {
    font-size: 15px;
}
.seven {
    height: 410px !important;
    width: 275px !important;
}
.ques-content ul li {
    position: relative;
    left: -30px;
}
.form-container {
    width: 60%;
}
.mdl-textfield {
    width: 250px;
}
}
@media screen and (max-width: 500px){
  .its-head {
    margin: 150px 50px 10px 50px;
  }
  .test-content1 img {
    left: -42px;
    top: 25px;
}
.ques-content h4 {
    margin-left: 0px;
    font-size: 17px;
}
.ques-content ul li {
    line-height: 45px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    left: -45px;
}
.mdl-textfield {
    width: 200px;
}
.form-container {
    width: 70%;
}
}
@media screen and (max-width: 425px){
  .its-head {
    margin: 150px 30px 10px 30px;
  }
  .its-head h4 {
    font-size: 19px;
  }
  .test-content1 img {
    left: 8px;
    top: -50px;
}
.ques-content ul li {
    left: -25px;
}
.progress-tab {
    margin-right: 6px;
}
.progress-tab-disable {
    margin-right: 6px;
}
.ques-content h4{
  text-align: center;
  font-size: 22px;
}
.ques-content {
    position: relative;
    top: -50px;
}
.mdl-textfield {
    width: 280px;
}
.form-container {
    width: 80%;
}
.subs-button {
    right: -35px;
}
}
@media screen and (max-width: 414px){
  .progress-tab {
    margin-right: 0px;
}
.progress-tab-disable {
    margin-right: 0px;
}
}
@media screen and (max-width: 375px){
  .its-head {
    margin: 120px 15px 10px 15px;
  }
  .ques-content ul li {
    left: -35px;
}
.seven-opt {
    position: relative;
    top: 35px;
}
.form-container {
    width: 90%;
}
.mdl-textfield {
    width: 240px;
}
}
@media screen and (max-width: 360px){
  .progress-tab-disable {
    margin-left: 4px;
}
.progress-tab {
    margin-left: 4px;
}
.ques-content h4 {
    font-size: 22px;
}

}
@media screen and (max-width: 320px){
  .its-head h4{
    text-align: justify;
  }
  .its-head p{
    text-align: justify;
  }
.ques-content h4 {
    margin-left: 0px;
}
.progress-tab-disable {
    margin-left: 3px;
    text-align: center;
}
.progress-tab {
    margin-left: 4px;
}
.ques-content h4{
  font-size: 19px;
}
.test-content1 img {
    left: -25px;
    width: 300px;
}
.seven-ans {
    left: 50px;
}
}